@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Reem+Kufi&display=swap');
/*font-family: 'Fondamento', cursive;
font-family: 'Reem Kufi', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main h1 {
font-family:'Fondamento', cursive;
text-align: center;

}
body{
margin:0;
 background: url(/IMG/fondoLogin1.jpg);
 /* background-size: cover; */
 /* background-attachment: fixed; */

} 
.container1{
 display:flex;
 /* padding-top: 500px; */

 background: rgba(255, 255, 255, 0.74);
 border-radius: 10px;
 width: 380px;
 height: 342px;
 margin-left: 19px;
 
 
}
     
h2{
    font-family: 'Reem Kufi', sans-serif;
    font-size:medium;  
    text-align: center; 
    padding-top: 22px; 

}
 
form input{
    
    display:block;    
    color:#0e0e0e;
    font-family: 'Reem Kufi', sans-serif;
    margin:5px 5px 5px 5px;
    width: 338px;
    height: 38px;
    font-size:medium;
    text-align: center;
    margin-top: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.54);
    margin-left: 23px;
    
} 
 form button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:block;    
    color:#000000;
    border-radius: 30px;
    font-family: 'Reem Kufi', sans-serif;
    margin:5px 5px 5px 5px;
    width: 336px;
    height: 45px;
    font-size:larger;
    text-align: center;
    margin-top: 40px;
    background: rgba(232, 181, 49, 0.88);
    margin-left: 23px;
 
}
form label{
    font-family: 'Reem Kufi', sans-serif;
    font-size:medium;
    margin:36px;
   
}
.loginGoogle{
    background: rgba(255, 255, 255, 0.59);
    font-family: 'Reem Kufi', sans-serif;
}
.loginGoogle button img{
    width: 40px;
    height: 40px;

}
.loginGoogle button{
   background: rgba(232, 181, 49, 0.88);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   width: 335px;
   height: 57px;
   font-family: 'Reem Kufi', sans-serif;
}


     

 
 
