@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Reem+Kufi&display=swap');
/*font-family: 'Fondamento', cursive;
font-family: 'Reem Kufi', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
main h1 {
    font-family:'Fondamento', cursive;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 55px;
}
body{
    margin-top:81px;
    background: url(../src/IMG/fondoLogin1.jpg);
} 
.containerUno{
    display:flex;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    width: 380px;
    height: 342px;
    margin-left: 19px;
    margin-top: 135px;
}
     
form h2{
    font-family: 'Reem Kufi', sans-serif; 
    text-align: center; 
    padding-top: 30px; 
    color: #000000;
    font-size: 24px;
}
 
form input{
    display:block;    
    color:#0e0e0e;
    font-family: 'Reem Kufi', sans-serif;
    margin:5px 5px 5px 5px;
    width: 338px;
    height: 38px;
    font-size:medium;
    text-align: center;
    margin-top: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    margin-left: 23px;
    border: transparent;
} 
form button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:block;    
    color:#000000;
    border-radius: 30px;
    font-family: 'Reem Kufi', sans-serif;
    margin:5px 5px 5px 5px;
    width: 336px;
    height: 45px;
    font-size:larger;
    text-align: center;
    margin-top: 40px;
    background: rgba(232, 181, 49, 0.88);
    margin-left: 23px;
    border: transparent;
}
form label{
    font-family: 'Reem Kufi', sans-serif;
    font-size:medium;
    margin:36px;
}

form p{
    font-family: Reem Kufi;
    font-size: 14px;
    text-align: center;
    margin:36px;
}
.loginGoogle{
    background: rgba(255, 255, 255, 0.74);
    font-family: 'Reem Kufi', sans-serif;
    width: 377px;
    height: 178px;
    border-radius: 10px;
    margin-top: 66px;
    margin-left: 23px;
    text-align: center;
    padding-top: 21px;
    box-sizing: border-box;

}
.loginGoogle button img{
    width: 25px;
    height: 25px;
    float:left;
    margin-left: 45px;
}
.loginGoogle button{
   background: rgba(232, 181, 49, 0.88);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   width: 335px;
   height: 45px;
   font-family: 'Reem Kufi', sans-serif;
   font-size: 20px;
   margin-bottom: 20px;
   border: transparent;
}

.containerDos{
    display:flex;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    width: 380px;
    height: 500px;
    margin-left: 19px;
    margin-top: 57px;
}    

.loginGoogleDos{
    background: rgba(255, 255, 255, 0.74);
    font-family: 'Reem Kufi', sans-serif;
    width: 377px;
    height: 146px;
    border-radius: 10px;
    margin-top: 23px;
    margin-left: 23px;
    text-align: center;
    padding-top: 21px;
    box-sizing: border-box;
} 
.loginGoogleDos button img{
    width: 25px;
    height: 25px;
    float:left;
    margin-left: 45px;
}
.loginGoogleDos button{
   background: rgba(232, 181, 49, 0.88);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   width: 335px;
   height: 45px;
   font-family: 'Reem Kufi', sans-serif;
   font-size: 20px;
   margin-bottom: 20px;
   border: transparent;
} 

@media (min-width:500px){
    body{
    background-repeat: no-repeat;
    }
   .container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
   } 
   .loginGoogle{
    width: 286px;
    height: 150px;
   }
 main h1{
    width:80%;
    height:100%;
    left:-100%;
    margin:0;
    position: fixed;
 }   
  }
