@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Reem+Kufi&display=swap');
/*font-family: 'Fondamento', cursive;
font-family: 'Reem Kufi', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1 {
    font-family:'Fondamento', cursive;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 55px;
}
body{
    margin-top:81px;
    background: url(IMG/fondoLogin1.jpg);
} 
.containerUno{
    display:flex;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    width: 380px;
    height: 342px;
    margin-left: 19px;
    margin-top: 135px;
}
     
form h2{
    font-family: 'Reem Kufi', sans-serif; 
    text-align: center; 
    padding-top: 30px; 
    color: #000000;
    font-size: 24px;
}
 
form input{
    display:block;    
    color:#0e0e0e;
    font-family: 'Reem Kufi', sans-serif;
    margin:5px 5px 5px 5px;
    width: 338px;
    height: 38px;
    font-size:medium;
    text-align: center;
    margin-top: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    margin-left: 23px;
    border: transparent;
} 
form button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:block;    
    color:#000000;
    border-radius: 30px;
    font-family: 'Reem Kufi', sans-serif;
    margin:5px 5px 5px 5px;
    width: 336px;
    height: 45px;
    font-size:larger;
    text-align: center;
    margin-top: 40px;
    background: rgba(232, 181, 49, 0.88);
    margin-left: 23px;
    border: transparent;
    margin-bottom: 20px;
}
form label{
    font-family: 'Reem Kufi', sans-serif;
    font-size:medium;
    margin:36px;
}

form p{
    font-family: Reem Kufi;
    font-size: 14px;
    text-align: center;
    margin:36px;
}
.loginGoogle{
    background: rgba(255, 255, 255, 0.74);
    font-family: 'Reem Kufi', sans-serif;
    width: 377px;
    height: 178px;
    border-radius: 10px;
    margin-top: 66px;
    margin-left: 23px;
    text-align: center;
    padding-top: 21px;
    box-sizing: border-box;

}
.loginGoogle button img{
    width: 25px;
    height: 25px;
    float:left;
    margin-left: 45px;
}
.loginGoogle button{
   background: rgba(232, 181, 49, 0.88);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   width: 335px;
   height: 45px;
   font-family: 'Reem Kufi', sans-serif;
   font-size: 20px;
   margin-bottom: 20px;
   border: transparent;
}

.containerDos{
    display:flex;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    width: 380px;
    height: 500px;
    margin-left: 19px;
    margin-top: 57px;
} 
.containerDos #VolverInicio{
    font-family: 'Reem Kufi', sans-serif;
    margin-left: 30%;
}   

.loginGoogleDos{
    background: rgba(255, 255, 255, 0.74);
    font-family: 'Reem Kufi', sans-serif;
    width: 377px;
    height: 146px;
    border-radius: 10px;
    margin-top: 23px;
    margin-left: 23px;
    text-align: center;
    padding-top: 21px;
    box-sizing: border-box;
} 
.loginGoogleDos button img{
    width: 25px;
    height: 25px;
    float:left;
    margin-left: 45px;
}
.loginGoogleDos button{
   background: rgba(232, 181, 49, 0.88);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   width: 335px;
   height: 45px;
   font-family: 'Reem Kufi', sans-serif;
   font-size: 20px;
   margin-bottom: 20px;
   border: transparent;
} 
#contenedorMuro{
    background-color:white;
    background-size: contain;
    background-repeat:no-repeat;
    height: 90vh;
    width: 100%;
    align-items: center;
}
#contenedorMuro h1{
   justify-self:center;
   align-self: center;
   text-align:left;
   color: white;
   font-family: 'Cherry Cream Soda', cursive;
}
#salir{
    width: 62px;
    height: 60px;
    border-color: transparent;
    border-radius: 30px;
    background: rgba(232, 181, 49, 0.88);
}
#salir img{
    width: 40px;
    height: 40px;
}
#hacerPublicacion{
    width: 62px;
    height: 60px;
    border-color: transparent;
    border-radius: 30px;
    background: rgba(232, 181, 49, 0.88);
}
#hacerPublicacion img{
    width: 40px;
    height: 40px;
}
#tituloMuro{
    font-size: 49px;
    float: left;
    margin-top: -60px;
    margin-left: 10px;
}
#contenedorBtnSettings{
    float: right;
    margin-top: -60px;
    margin-right: 5px;
}
#contenedorMuro .area-post{
   justify-self:left;
   align-self: center;
   background-color:blue;
}
#contenedorMuro .insertar-publicacion{
    justify-self:left;
    align-self: center;
    background-color:rgb(130, 203, 221);
    padding: 20%;
    width: 550px;
    height: 250px;
   
 }
 
.info-post{
   
    justify-self:left;
    align-self: center;
    background-color:rgb(130, 203, 221);
    width: 400px;
    height: 200px;
    border-radius: 50px;
    margin-top: 30px;

 }
 h4{
    font-family: 'Reem Kufi', sans-serif; 
    text-align: center; 
    padding-top: 30px; 
    color: #000000;
    font-size: 15px;
    
 }
/* para publicar */
#area_post{
    position: relative;
    top: 1.5em;
     /* width: 100vw;  */
    display:inline-flex;
    align-items: center;
    flex-wrap: wrap;
    height: 28vh;
   
}
#foto-usuario{
    width: 50px;
    height: 50px;
    align-self: stretch;
    margin-top: 2em;
    margin-right: 0.5em; 
    margin-left: 0.5em; 
    position: relative;
    display: inline-flex;
    border-radius: 30px;
}
  
#publicaciones{
    width: 30vw;
    height: auto;
    margin-top: 2em;
    position: relative;
    top: 0em;
    display: flex;
    flex-direction: column;
    margin-bottom:8em ;
    box-sizing:content-box
}
#icon{
    display: flex;
    justify-content: space-around;
}
.post{
    min-height:10em;
    height: auto;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.5em;
    display: flex;
    padding: 0.5em;
    border-bottom: rgb(216, 215, 215) solid 2px;
    flex-direction: column;
    word-wrap: break-word;
}
.nombre-usuario{
    width: 30vw;
    height: 20px;
    color: black;
    font-family: poly;
    font-weight: bold;
    left: 1em;
    top: 1px;
}


.publicar{
    margin-top: 2em;
    width: 70vw;
    height: 10vh;
    max-height: auto;
    font-family: poly;
    border-radius: 5px;
    border:rgb(187, 186, 186) solid 1px;
    padding: 0.5em;
    outline:none;
    background-color: white;
    overflow:visible;
    flex-wrap: wrap;
    resize: none;
}
#publicar-btn{
    position: relative;
    top: 0em;
    width: 25vw;
    height: 5vh;
    padding: 0.5em;
    color: #fff;
    font-size: 15px;
}
#imgUsuario{
    width: 322px;
    height: 300px;
    border-radius: 50%;
}
 /* #search-area{
    padding: 0.5em;
    border: 1px solid #D9D2D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    position: relative;
    display: flex;
    height: 6vh;
    top: 3.5em;
    width: 90%;
    left: 1em;
    text-align:center;
}
#input-search{
    display: flex;
    position: relative;
    top: -0.5em;
    width: 90%;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    height: 5vh;
    margin-left: 1em;
}
   */
   @media screen and (min-width: 416px) {
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    h1 {
        font-family:'Fondamento', cursive;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 70px;
    }
    body{
        margin-top:60px;
        background: url(IMG/fondoLogin1Desktop.jpg);
        background-size:100vw 100vh;
    } 
    .containerUno{
        display:flex;
        background: rgba(255, 255, 255, 0.74);
        border-radius: 10px;
        width: 380px;
        height: 342px;
        margin-left: 350px;
        margin-top: 125px;
    }
    .loginGoogle{
        background: rgba(255, 255, 255, 0.74);
        font-family: 'Reem Kufi', sans-serif;
        width: 377px;
        height: 178px;
        float: right;
        border-radius: 10px;
        margin-top: 0px;
        margin-right: 320px;
        text-align: center;
        box-sizing: border-box;
        transform: translateY(-270px);
    }
    .containerDos{
        display:flex;
        background: rgba(255, 255, 255, 0.74);
        border-radius: 10px;
        width: 380px;
        height: 500px;
        margin-left: 350px;
        margin-top: 40px;
    } 
    .loginGoogleDos{
        background: rgba(255, 255, 255, 0.74);
        font-family: 'Reem Kufi', sans-serif;
        width: 377px;
        height: 178px;
        float: right;
        border-radius: 10px;
        margin-top: 0px;
        margin-right: 320px;
        text-align: center;
        box-sizing: border-box;
        transform: translateY(-340px);
    }
}
   
